<div class="md-toolbar-tools" ng-controller="CoreHeadController">
	<div flex layout="row" class="docs-logo">
		<md-icon md-svg-src="modules/mean-tutorials/img/easel.svg"
				 class="svg-logotype ng-isolate-scope md-default-theme"
				 style="height: 32px;
  width: 32px; margin:5px;"
				 aria-hidden="true"></md-icon>
		<h4 ng-click="goTo('mean-home')"><b>{{title}}</b></h4>
	</div>
	<span class="docs-title" hide-sm>{{subTitle}}</span>
	<span flex hide-sm></span>
</div>

<div ng-controller="CoreHeadController" class="class-menu">
	<md-button class="md-fab md-warn " aria-label="Eat cake" ng-click="toggleLeft()">
		<md-icon md-svg-src="modules/core/img/svg/navicon-round.svg"></md-icon>
	</md-button>
</div>