<div layout="column" flex ng-controller="CoreHeadController">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-icon md-svg-src="modules/mean-tutorials/img/arrow-left-c.svg"
                     class="svg-logotype ng-isolate-scope md-default-theme"
                     style="height: 35px;width: 35px;"></md-icon>
            <h4 class="md-title" ><b>메뉴</b></h4>
        </div>
    </md-toolbar>
    <md-content class="sideNavTiles" style="overflow-x: hidden">
        <md-grid-list
                md-cols-sm="2" md-cols-md="2" md-cols-gt-md="2"
                md-row-height="1:1">
            <md-grid-tile
                    id="profile"
                          md-rowspan="1"
                          md-colspan="2"
                          class="green"
                          ng-click="sliderNavEvent('Profile', 'profile')">
                <md-icon md-svg-src="modules/d2l/img/flat-svg/settings.svg"></md-icon>
                <md-grid-tile-footer><h3> 시간퀴즈</h3></md-grid-tile-footer>
            </md-grid-tile>

            <md-grid-tile
                    ng-if="!authentication.user"
                    id="signIn"
                    md-rowspan="1"
                    md-colspan="1"
                    class="green"
                    ng-click="sliderNavEvent('Sign In', 'signIn')">
                <md-icon md-svg-src="modules/mean-tutorials/img/grid.svg"></md-icon>
                <md-grid-tile-footer><h3>시 +</h3></md-grid-tile-footer>
            </md-grid-tile>

            <md-grid-tile
                    id="tutorial"
                    md-rowspan="1"
                    md-colspan="1"
                    class="blue"
                    ng-click="sliderNavEvent('Tutorial', 'tutorial')">
                <md-icon md-svg-src="modules/mean-tutorials/img/briefcase.svg"></md-icon>
                <md-grid-tile-footer><h3>시 -</h3></md-grid-tile-footer>
            </md-grid-tile>

            <md-grid-tile
                    id="signOut"
                    md-rowspan="1"
                    md-colspan="1"
                    class="darkBlue"
                    ng-click="sliderNavEvent('Sign Out', 'signOut')">
                <md-grid-tile-footer><h3>분 +</h3></md-grid-tile-footer>
            </md-grid-tile>
            <md-grid-tile
                    id="signOut2"
                    md-rowspan="1"
                    md-colspan="1"
                    class="darkBlue"
                    ng-click="sliderNavEvent('Sign Out', 'signOut')">
                <md-grid-tile-footer><h3>분 -</h3></md-grid-tile-footer>
            </md-grid-tile>

        </md-grid-list>
    </md-content>
    <!--<div style="  position: inherit;-->
  <!--margin-top: 20px;-->
  <!--margin-left: 5px;">Icons are licenced by Web App (http://icons8.com)</div>-->
</div>