.class-menu{
    position: absolute;
    top:32px;
    right:32px;
}
.sideNavTiles md-grid-list{height:100%;}
.sideNavTiles md-icon {
    width: 50%;
    height: 90%; }
.sideNavTiles md-icon svg {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
.sideNavTiles .s64 {
    font-size: 64px; }
.sideNavTiles .s32 {
    font-size: 48px; }
.sideNavTiles md-icon.fa {
    display: block;
    padding-left: 0px; }
.sideNavTiles md-icon.s32 span {
    padding-left: 8px; }
.sideNavTiles .gray {
    background: #f5f5f5; }
.sideNavTiles .green {
    background: #b9f6ca; }
.sideNavTiles .yellow {
    background: #ffff8d; }
.sideNavTiles .blue {
    background: #84ffff; }
.sideNavTiles .darkBlue {
    background: #80d8ff; }
.sideNavTiles .deepBlue {
    background: #448aff; }
.sideNavTiles .purple {
    background: #b388ff; }
.sideNavTiles .lightPurple {
    background: #8c9eff; }
.sideNavTiles .red {
    background: #ff8a80; }
.sideNavTiles .pink {
    background: #ff80ab; }
.sideNavTiles md-grid-tile {
    transition: all 300ms ease-out 50ms; }
.sideNavTiles md-grid-tile md-icon {
    padding-bottom: 32px; }
.sideNavTiles md-grid-tile md-grid-tile-footer {
    background: rgba(0, 0, 0, 0.68);
    height: 36px; }
.sideNavTiles md-grid-tile-footer figcaption {
    width: 100%; }
.sideNavTiles md-grid-tile-footer figcaption h3 {
    margin: 0px;
    font-weight: 700;
    width: 100%;
    text-align: center; }

.svg-logotype{
    margin:10px;
}