md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 150px !important;
    width: 85vw !important;
    max-width: 150px !important;
}

md-grid-list md-grid-tile md-grid-tile-footer h3, md-grid-list md-grid-tile md-grid-tile-footer h4, md-grid-list md-grid-tile md-grid-tile-header h3, md-grid-list md-grid-tile md-grid-tile-header h4 {
    margin: 0 0 0 3px;
}


.side-nav-menu{color:white; text-align:center; margin:0 0 0 0;}

.side-nav-menu .big-font{font-size:15px; color: #3b3b3b; font-weight: 900;}
.side-nav-menu .small-font{font-size:12px; color: rgba(116, 116, 116, 0.66); font-weight: 900;}

.sideNavBackground{
    background-color:#CFCFCF; overflow-x: hidden
}