<div layout="column" class="toolbardemoBasicUsage">
        <md-toolbar class="md-tall toolbar-custom">
            <div class="md-toolbar-tools" style="width:80%">
                <md-button class="md-icon-button" aria-label="Settings">
                    <md-icon md-svg-icon="modules/mean-tutorials/img/menu.svg"></md-icon>
                </md-button>
                <div class="md-toolbar-tools md-title">
                    <span hide-sm><b>시침이와 분침이의 </b></span><span style="font-size:32px; color:coral; font-weight: 800; margin-left:10px;">인성시계 놀이</span>
                </div>
            </div>
            <p class="md-toolbar-tools md-toolbar-tools-bottom">
                <span class="md-flex md-body-2"><b>아래의 메뉴를 선택해 주세요</b></span>
            </p>
        </md-toolbar>
        <div flex layout="column" layout-fill layout-align="center center">
            <div class="" flex>
                <md-button class="subMenu md-primary md-raised" ng-click="goTo('watch-game')">
                    <b>시침이와 분침이를 돌려라!</b>
                </md-button>
            </div>
            <div class="" flex>
                <md-button class="subMenu md-primary md-raised" ng-click="goTo('watch-game2')">
                    <b>시침이와 분침이 몇 시 몇 분!</b>
                </md-button>
            </div>
        </div>
</div>