<div layout="column" layout-fill class="watchGameMain" data-ng-controller="WatchGame2Controller">
    <md-toolbar class="md-accent"
                style="background-color: #88D7C2; color:white;">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings" ng-click="goTo('menu')">
                <md-icon md-svg-icon="modules/mean-tutorials/img/menu.svg"></md-icon>
            </md-button>
            <div class="md-toolbar-tools md-title">
                <span hide-sm><b>시침이와 분침이의 몇 시 몇 분!</b></span><span style="font-size:40px; color:coral; font-weight: 800; margin-left:10px;">인성시계 놀이</span>
            </div>
        </div>
    </md-toolbar>
    <section layout="row" layout-fill style="height:100%; position: absolute;">
        <md-sidenav
                flex id="sideNav"
                class="md-sidenav-left md-whiteframe-z2
                    ng-isolate-scope md-closed md-locked-open
                    custom-border"
                md-is-locked-open="true"
                style="background-color:#CFCFCF; overflow-x: hidden"
                md-component-id="left" tabindex="-1">
            <div flex layout="column" flex>
                <md-grid-list ng-repeat="tile in tiles" class="sideNavTiles" md-cols="2" md-gutter="5px" md-row-height="3:4">
                    <md-grid-tile id="profile" md-rowspan="1" md-colspan="2" class="red" ng-click="menu('start')">
                        <p class="side-nav-menu">
                                <span style="color: purple; font-size:15px; font-weight: 900;">시침이와 분침이를</span>
                            <br/>
                            <span style="font-size:25px; color:#000066; font-weight: 900"> 읽어라!!</span>
                        </p>
                    </md-grid-tile>

                    <md-grid-tile ng-if="crntProbWorking" id="quizPanel" md-rowspan="2" md-colspan="2" class="yellow">
                        <p class="side-nav-menu">
                                <span style="color: purple; font-size:15px; font-weight: 900;">
                                {{crntTargetName}}
                                </span>
                            <br/>
                            <span style="font-size:25px; color:#000066; font-weight: 900">{{quiz}}</span><br/>
                                <span style="color: purple; font-size:15px; font-weight: 900;">
                                   시침, 분침을 읽고 적어 주세요
                                </span>
                        </p>
                    </md-grid-tile>

                    <md-grid-tile ng-if="mmhhWorking" md-rowspan="1" md-colspan="2" class="darkBlue" ng-click="startQuiz('hm')">
                        <p class="side-nav-menu">
                            <span class="big-font">시침이+분침이</span><br/>
                            <span class="small-font">몇 시 몇 분</span><br/>
                            <span class="small-font md-caption">({{crntNumProbMMHH}}/{{availProbbMMHH}})</span>
                        </p>
                    </md-grid-tile>


                    <md-grid-tile ng-if="!crntProbWorking" md-rowspan="1" md-colspan="2" class="purple" ng-click="showGridBottomSheet($event)">
                        <p class="side-nav-menu"><span class="big-font">정답 확인 하기</span></p>
                    </md-grid-tile>

                    <md-grid-tile ng-if="crntProbWorking" id="timer" md-rowspan="1" md-colspan="2" class="lightPurple" ng-click="submitAnswer()">
                        <p style="color:white;">
                            <span style="font-size:15px; color:black; font-weight: 900;">정답 제출</span>
                        </p>
                        <md-progress-circular md-mode="determinate" value="{{determinateValue}}"></md-progress-circular>
                    </md-grid-tile>
                </md-grid-list>
            </div>
        </md-sidenav>
        <md-content flex="" >
            <div class="fill svgBack">
                <div class="clock
                      hour-style-text
                      hour-text-style-large
                      hour-display-style-all
                      minute-style-dot
                      minute-display-style-fine-2
                      minute-text-style-outside
                      hand-style-hollow
                      " id="utility-clock">
                    <div class="centre">
                        <div class="dynamic"></div>
                        <div class="expand round circle-1"></div>

                        <div id="hourC" class="anchor hour">
                            <div class="element thin-hand"></div>
                            <div class="element fat-hand"></div>
                        </div>

                        <div id="minC" class="anchor minute">
                            <div class="element thin-hand"></div>
                            <div class="element fat-hand minute-hand"></div>
                        </div>

                        <div class="expand round circle-2"></div>
                    </div>
                </div>


                <div ng-if="crntProbWorking" layout="row" layout-align="center center" style="margin-top:10px;">
                    <input type="number" style="border:5px solid #ec971f; border-radius:25%; outline: 0; font-size:25pt; background-color: rgba(255, 228, 196, 0.69); padding:5px;" maxlength="2" max="12" min="1"> <span style="font-size:25pt; font-weight: 800;">시</span>
                    <input type="number" style="border:5px solid #ec971f; border-radius:25%; outline: 0; font-size:25pt; background-color: rgba(255, 228, 196, 0.69); padding:5px;" maxlength="2" max="59" min="00"> <span style="font-size:25pt; font-weight: 800;">분</span>
                </div>

                <div style="position: absolute; right:0">
                    <md-button class="md-raised" ng-click="zoom('in')">Zoom In</md-button>
                    <md-button class="md-raised" ng-click="zoom('out')">Zoom Out</md-button>
                </div>

            </div>
        </md-content>
    </section>
</div>