
<md-content style="position: absolute" layout="column" layout-fill class="watchGameMain" data-ng-controller="WatchGameController">

    <md-toolbar class="md-accent"
                style="background-color: #88D7C2; color:white;">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings" ng-click="goTo('menu')">
                <md-icon md-svg-icon="modules/mean-tutorials/img/menu.svg"></md-icon>
            </md-button>
            <div class="md-toolbar-tools md-title">
                <span hide-sm><b>시침이와 분침이의 </b></span><span style="font-size:40px; color:coral; font-weight: 800; margin-left:10px;">인성시계 놀이</span>
            </div>
        </div>
    </md-toolbar>

    <section layout="row" layout-fill style="height:100%; position: absolute;">
        <md-sidenav
                flex
                id="sideNav"
                class="md-sidenav-left md-whiteframe-z2
                    ng-isolate-scope md-closed md-locked-open
                    custom-border"
                md-is-locked-open="true"
                style="background-color:#CFCFCF; overflow-x: hidden"
                md-component-id="left"
                tabindex="-1">

            <div flex layout="column" flex>
                    <md-grid-list
                            class="sideNavTiles"
                            md-cols="2"
                            md-gutter="5px"
                            md-row-height="3:4">
                        <md-grid-tile
                                id="profile"
                                md-rowspan="1"
                                md-colspan="2"
                                class="gray"
                                >
                            <!--ng-click="menu('start')"-->
                            <p style="color:white;">
                                <span style="color: purple; font-size:15px; font-weight: 900;">
                                시침이와 분침이
                                </span>
                                <br/>
                                <span style="font-size:25px; color:#000066; font-weight: 900">몇 시 몇 분!</span>
                            </p>


                            <!--<md-icon style="width:50%; height: 95%;" md-svg-src="modules/etc/img/Heart-Watch.svg"></md-icon>-->

                            <!--<p class="md-body-1" ng-if="quiz == null" style="color:white;"><b>시작하기</b></p>-->
                            <!--<p class="md-body-1" style="padding:8px; color:white;"><b>{{quiz}}</b></p>-->

                           <!--<md-grid-tile-footer><h4>시작하기</h4></md-grid-tile-footer>-->
                        </md-grid-tile>

                        <md-grid-tile
                                ng-if="!authentication.user"
                                id="signIn"
                                md-rowspan="1"
                                md-colspan="1"

                                class="pink"
                                ng-click="rotationArm('hh', '+')">

                            <p style="color:white;">
                                <span style="font-size:15px; color:black; font-weight: 900;">
                                시침이Go!
                                </span>
                                <br/>
                                <span style="font-size:12px; color:black; font-weight: 400; text-align:center;">몇 시</span>
                            </p>

                            <!--<md-icon  md-svg-src="modules/etc/img/Woman-9.svg"></md-icon>-->
                            <!--<md-grid-tile-footer><h4>시침이 퀴즈</h4></md-grid-tile-footer>-->
                        </md-grid-tile>
                        <md-grid-tile
                                id="tutorial"
                                md-rowspan="1"
                                md-colspan="1"
                                class="green"
                                ng-click="rotationArm('hh', '-')">

                            <p style="color:white;">
                                <span style="font-size:15px; color:black; font-weight: 900;">
                                분침이Go!
                                </span>
                                <br/>
                                <span style="font-size:12px; color:black; font-weight: 400; text-align:center;">몇 분</span>
                            </p>

                            <!--<md-icon md-svg-src="modules/etc/img/Woman-15.svg"></md-icon>-->
                            <!--<md-grid-tile-footer><h4>분침이 퀴즈</h4></md-grid-tile-footer>-->
                        </md-grid-tile>
                        <md-grid-tile
                                id="signOut"
                                md-rowspan="1"
                                md-colspan="2"
                                class="yellow"
                                ng-click="rotationArm('mm', '+')">

                            <p style="color:white;">
                                <span style="font-size:15px; color:black; font-weight: 900;">
                                시침이+분침이
                                </span>
                                <br/>
                                <span style="font-size:12px; color:black; font-weight: 400; text-align:center;">몇 시 몇 분</span>
                            </p>
                            <!--<md-icon md-svg-src="modules/etc/img/Rocker.svg"></md-icon>-->
                            <!--<md-grid-tile-footer><h4>시침이 분침이 퀴즈</h4></md-grid-tile-footer>-->
                        </md-grid-tile>
                        <md-grid-tile
                                id="t123"
                                md-rowspan="1"
                                md-colspan="2"
                                class="lightPurple"
                                ng-click="showGridBottomSheet($event)">
                            <p style="color:white;">
                                <span style="font-size:15px; color:black; font-weight: 900;">
                                정답 확인 하기
                                </span>
                            </p>
                            <!--<md-icon md-svg-src="modules/etc/img/Medal-2.svg"></md-icon>-->
                            <!--<md-grid-tile-footer><h4>정답 확인하기</h4></md-grid-tile-footer>-->
                        </md-grid-tile>
                        <md-grid-tile
                                id="timer"
                                md-rowspan="1"
                                md-colspan="2"
                                class="lightPurple">
                            <p style="color:white;">
                                <span style="font-size:15px; color:black; font-weight: 900;">
                                시간
                                </span>
                            </p>
                            <md-progress-circular md-mode="determinate" value="{{determinateValue}}"></md-progress-circular>

                            <!--<md-icon md-svg-src="modules/etc/img/Medal-2.svg"></md-icon>-->
                            <!--<md-grid-tile-footer><h4>정답 확인하기</h4></md-grid-tile-footer>-->
                        </md-grid-tile>

                    </md-grid-list>
                <!--</md-content>-->
                <!--<div style="  position: inherit;-->
                <!--margin-top: 20px;-->
                <!--margin-left: 5px;">Icons are licenced by Web App (http://icons8.com)</div>-->
            </div>
        </md-sidenav>

        <md-content flex="" >
            <div class="fill svgBack">
                <div class="clock
                      hour-style-text
                      hour-text-style-large
                      hour-display-style-all
                      minute-style-dot
                      minute-display-style-fine-2
                      minute-text-style-outside
                      hand-style-hollow
                      " id="utility-clock">
                    <div class="centre">
                        <div class="dynamic"></div>
                        <div class="expand round circle-1"></div>

                        <div id="hourC" class="anchor hour">
                            <div class="element thin-hand"></div>
                            <div class="element fat-hand"></div>
                        </div>

                        <div id="minC" class="anchor minute">
                            <div class="element thin-hand"></div>
                            <div class="element fat-hand minute-hand"></div>
                        </div>

                        <div class="expand round circle-2"></div>
                    </div>
                </div>
                <div style="position: absolute;right: 0;">
                    <md-button class="md-raised" ng-click="zoom('in')">Zoom In</md-button>
                    <md-button class="md-raised" ng-click="zoom('out')">Zoom Out</md-button>
                </div>
            </div>
        </md-content>


    </section>
</md-content>