<section class="watchGameMain" style="" data-ng-controller="WatchGameController">
	<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/ThrowPropsPlugin.min.js"></script>
	<div layout="row" layout-wrap>
		<div layout="column" layout="center center" class="gameCtrl">
			<md-button class="md-parimary md-raised" ng-click="startQuiz()">시간 퀴즈</md-button>
			<md-button class="md-parimary md-raised" ng-click="submitAnswer()">정답 제출 하기</md-button>
			<md-button class="md-parimary md-raised" ng-click="startQuiz()">정답 확인 하</md-button>
			<md-button class="md-parimary md-raised" ng-click="setNow()">지금 시각</md-button>
			<md-button class="md-parimary md-raised" ng-click="submitAnswer()">hour</md-button>
			<md-button class="md-parimary md-raised">시: {{hourQ}}</md-button>
			<md-button class="md-parimary md-raised">분: {{minQ}}</md-button>
			<md-button class="md-parimary md-raised">{{hour}}</md-button>
			<md-button class="md-parimary md-raised" ng-click="upHour()">+hour</md-button>
			<md-button class="md-parimary md-raised" ng-click="downHour()">-hour</md-button>
			<p class="md-caption">
				hour: {{hourQ}} min: {{minQ}}
			</p>
		</div>

		<div flex="90">
			<div id="chooser">
				<!--<md-button style="color:black" class="md-title md-primary md-raised" ng-click="animate()">Start</md-button>-->
			</div>
				<div class="fill">
					<div class="clock
              hour-style-text
              hour-text-style-large
              hour-display-style-all
              minute-style-dot
              minute-display-style-fine-2
              minute-text-style-outside
              hand-style-hollow
              " id="utility-clock">
						<div class="centre">
							<div class="dynamic"></div>
							<div class="expand round circle-1"></div>

							<div id="hourC" class="anchor hour">
								<div class="element thin-hand"></div>
								<div class="element fat-hand"></div>
							</div>

							<div id="minC" class="anchor minute">
								<div class="element thin-hand"></div>
								<div class="element fat-hand minute-hand"></div>
							</div>
							<!--<div id="secC" class="anchor second">-->
							<!--<div id="secBarF" class="element second-hand second-hand-front"></div>-->
							<!--<div id="secBarE" class="element second-hand second-hand-back"></div>-->
							<!--</div>-->
							<div class="expand round circle-2"></div>
						</div>
					</div>
				</div>


		</div>
	</div>
</section>